@*
    @model List<GreenHouse_Management.Models.Customer>

    @foreach (var item in Model)
    {
        <p>@item.CustomerId</p>
        <p>@item.Name</p>
        <p>@item.Email</p>
        <p>@item.PhoneNumber</p>
    }
*@

@*
    @model GreenHouse_Management.Models.Product


    <p>id: @Model.ProductId</p>

    <p>name: @Model.Name</p>

    <p>key: @Model.ProductKey</p>

    <p>status: @Model.Status</p>

    <p>customerid: @Model.CustomerId</p>
*@

@model GreenHouse_Management.Models.ViewModels.ProductCustomersViewModel


<p>id: @Model.Product.ProductId</p>

<p>name: @Model.Product.Name</p>

<p>key: @Model.Product.ProductKey</p>

<p>status: @Model.Product.Status</p>

<p>customerid: @Model.Product.CustomerId</p>



