
    @model GreenHouse_Management.Models.Customer

   
        <p>@Model.CustomerId</p>
        <p>@Model.Name</p>
        <p>@Model.Email</p>
        <p>@Model.PhoneNumber</p>



    @*@model GreenHouse_Management.Models.Product


    <p>id: @Model.ProductId</p>

    <p>name: @Model.Name</p>

    <p>key: @Model.ProductKey</p>

    <p>description: @Model.Description</p>

    <p>customerid: @Model.CustomerId</p>*@



@*
@model GreenHouse_Management.Models.ViewModels.ProductCustomersViewModel


<p>id: @Model.Product.ProductId</p>

<p>name: @Model.Product.Name</p>

<p>key: @Model.Product.ProductKey</p>

<p>description: @Model.Product.Description</p>

<p>customerid: @Model.Product.CustomerId</p>

@foreach (var item in Model.CustomersList)
{
    <p>@item.Value</p>
    <p>@item.Text</p>
}
    *@



