@model GreenHouse_Management.Models.ViewModels.EmployeeShopsViewModel

@using (Html.BeginForm("Create", "Employees", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Add new employee</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(c => c.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Name, new { placeholder = "eg. John Smith", @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
        </div>

        <br /><br /><br />

        @Html.LabelFor(c => c.EIN, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.EIN, new { placeholder = "eg. a1234", @class = "form-control" })
            @Html.ValidationMessageFor(c => c.EIN, "", new { @class = "text-danger" })
        </div>

        <br /><br /><br />

        @Html.LabelFor(c => c.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Address, new { placeholder = "eg. street, number, county, country", @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Address, "", new { @class = "text-danger" })
        </div>

        <br /><br /><br />

        <div class="form-group">
            @Html.LabelFor(p => p.ShopId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(p => p.ShopId, new SelectList(Model.ShopsList, "Value", "Text"), "Choose a shop", new { @class = "form - control" })
                <br />
                @Html.ValidationMessageFor(p => p.ShopId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/employees" class="btn btn-warning inline_button" type="submit">Back</a>
            <input type="submit" class="btn btn-success inline_button" value="Add" />
        </div>
    </div>
}