@model GreenHouse_Management.Models.SensorUsage

@using (Html.BeginForm("Create", "SensorUsages", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.SensorUsageId)

    <h4>Add a new sensor</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(s => s.RecordedType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(s => s.RecordedType, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.RecordedType, "", new { @class = "text-danger" })
        </div>

        <br /><br /><br />

        @Html.LabelFor(s => s.MeasurementUnit, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(s => s.MeasurementUnit, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.MeasurementUnit, "", new { @class = "text-danger" })
        </div>

        <br /><br /><br />

        @Html.LabelFor(s => s.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(s => s.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/SensorUsages" class="btn btn-warning inline_button" type="submit">Back</a>
            <input type="submit" class="btn btn-success inline_button" value="Add" />
        </div>
    </div>
}